body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#container{
    width: 80%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #DDD;
}

#container h1{
    font-size: 30px;
}

#cabecera{
   color : white;
   background: #33A;
   margin: 0;
   padding: 0.5em;
   font-weight: bold;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
